@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom_input {
  @apply block w-full px-3 py-2 mt-1 text-gray-300 border border-gray-700 rounded-md shadow-sm bg-mainContent focus:outline-none focus:border-fecGreen sm:text-sm;
}

.label {
  @apply text-mainTextColor;
}

/* React Detepicker */
.react-datepicker {
  @apply border-cardContentLight !important;
}
.react-datepicker__month-container,
.react-datepicker__month {
  @apply bg-cardContent !important;
}

.react-datepicker__header {
  @apply bg-cardHeader border-cardContentLight !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  @apply text-mainTextColor !important;
}

.react-datepicker__day {
  @apply text-gray-300 !important;
}

.react-datepicker__day--disabled {
  @apply text-gray-600 !important;
}

.react-datepicker__day--selected {
  @apply bg-mainBtnColor !important;
}

.react-datepicker__day:hover {
  @apply bg-mainBtnHoverColor !important;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-transparent !important;
}

.react-datepicker-time__header {
  @apply text-mainTextColor !important;
}

.react-datepicker__time-list-item {
  @apply bg-cardContent text-gray-300 !important;
}

.react-datepicker__time-list-item--disabled {
  @apply text-gray-600 !important;
}

.react-datepicker__time-list-item:hover {
  @apply bg-mainBtnHoverColor !important;
}
/* End React Detepicker */

/* React-Select */
.filter-selector .react-select__multi-value {
  @apply bg-cardHeader;
}

.filter-selector .react-select__multi-value__label {
  @apply text-gray-300;
}

.filter-selector .react-select__menu {
  @apply text-gray-300 border-gray-600 bg-mainContent;
}

.filter-selector .react-select__control {
  @apply text-gray-300 border-gray-600 bg-mainContent;
}

.react-select__control:hover {
  @apply border-gray-600;
}

.filter-selector .react-select__option--is-focused {
  @apply bg-mainContent;
}
/* End React-Select */
