@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./react-select.css);
@import url(./react-datepicker.css);
@import url(./addevent-theme.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom_input {
  @apply block w-full px-3 py-2 mt-1 text-gray-300 border border-gray-700 rounded-md shadow-sm bg-mainContent focus:outline-none focus:ring-0 focus:border-fecGreen sm:text-sm;
}

.label {
  @apply text-mainTextColor;
}

/* TailwindCSS Tooltip */
.tooltip {
  @apply absolute invisible;
}

.has-tooltip:hover .tooltip {
  @apply z-50 visible;
}
